header {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, rgb(79, 172, 203), rgb(74, 38, 120), rgb(86, 2, 37));
    background-color: rgb(55, 134, 119);
    font-size: xx-large;
    top: 0px;
    text-align: center;
    font-family: monospace;
}

body {
    background-color: bisque;
    place-content: center;
    height: 95vh;
}

#maingrid {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

#grid2 {
    place-content: center;
}


footer {
    text-align: center;
}

canvas {
    border: thin solid cadetblue;
}